
<CascadingAuthenticationState >
    <BootstrapBlazorRoot>
    <CascadingValue Value="this.SysModule" Name="router">
        <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new System.Reflection.Assembly[]{typeof(Shared.Designer.FormDesigner).Assembly}">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.Layout.MainLayout)" >
                    <NotAuthorized>
                        zhe bu shi yige dizhi 
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(Shared.Layout.MainLayout)">
                    <p role="alert">对不起,这个访问地址不存在</p>
                </LayoutView>
            </NotFound>
        </Router>
            </CascadingValue>
    </BootstrapBlazorRoot>
</CascadingAuthenticationState>
@code
{
    public SysModule? SysModule { get; set; }
    public bool MyProperty { get; set; }
    public static bool Isdesigner { get; set; } = true;
    protected override void OnInitialized()
    {
        // SysModule = new Models.System.SysModule() { Name = "我是RouterOnInitialized" };
        base.OnInitialized();
    }
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    protected override Task OnParametersSetAsync()
    {
        SysModule = new Models.SystemInfo.SysModule()
            {
                FunctionGroups = new List<Models.SystemInfo.FunctionGroup>()
        {
        new Models.SystemInfo.FunctionGroup(){ FunctionPages=new List<Models.FunctionPage>(){ new Models.FunctionPage() {Id=1,  Name="diyi"} } } ,
        new Models.SystemInfo.FunctionGroup(){ FunctionPages=new List<Models.FunctionPage>(){ new Models.FunctionPage() {Id=2,  Name="diy2"} } },
        new Models.SystemInfo.FunctionGroup(){ FunctionPages=new List<Models.FunctionPage>(){ new Models.FunctionPage() {Id=3,  Name="diyi3"} } },
        new Models.SystemInfo.FunctionGroup(){ FunctionPages=new List<Models.FunctionPage>(){ new Models.FunctionPage() {Id=4,  Name="diyi33"} } }

        }
            };
        return base.OnParametersSetAsync();
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {

        return base.OnAfterRenderAsync(firstRender);
    }
}