@page "/login2"
@layout BlankLayout


<div class="container-fluid">

    ??????????
@*    <ValidateForm @ref="ValidateForm" Model="@ComplexModel" OnInvalidSubmit="@OnInvalidComplexModel"
                  OnValidSubmit="@OnValidComplexModel">
        <div class="row g-3">
            <div class="col-12 col-sm-6">
                <BootstrapInput @bind-Value="@ComplexModel.Name" />
            </div>
            <div class="col-12 col-sm-6">
                <BootstrapInput @bind-Value="@ComplexModel.Dummy.Dummy2.Name" />
            </div>
            <div class="col-12">
                <Button ButtonType="@ButtonType.Submit" Text="提交表单" />
            </div>
        </div>
    </ValidateForm>*@



</div>
@code {
    public ValidateForm ValidateForm { get; set; }
}
