@inherits WidgetComponentBase

<form>
    <div class="form-group">
        <BootstrapInput DisplayText="@(Component.Props.ContainsKey("DisplayText")?Component.Props["DisplayText"].Value.ToString():"文本框")"
                        ShowLabel="@(Component.Props.ContainsKey("ShowLabel")?Convert.ToBoolean(Component.Props["ShowLabel"].Value):true)" class="form-control"
                        Id="@Component.Id.ToString()"
                        Color="@(Component.Props.ContainsKey("Color")?(Color)Enum.Parse(typeof(Color),Component.Props["Color"].Value):Color.Danger)"
        @bind-Value="@(Component.ValueInfo.StringValue)"></BootstrapInput>
    </div>
</form>
@code {

}
