@inherits WidgetComponentBase

<form>
    <div class="form-group">
        @if (Component!=null)
        {
            <BootstrapInput class="form-control"
                            DisplayText="@(Component.MutLanguage.GetLanguage())"
                            ShowLabel="@(Component.ShowLabel)"
                            Id="@Component.Id"
                            Color="@(Component.Color)"
                            IsDisabled="@Component.IsDisabled"
            @bind-Value="@(Component.ValueInfo.StringValue)"></BootstrapInput>
        }
        else
        {
            <div>
                失败的控件,控件数据为空
            </div>
        }

    </div>
</form>
@code {

}
