@inherits WidgetComponentBase

@*<form>*@
@*<div class="form-group">*@
@if (Component is not null)
{
    <BootstrapInput Id="@(Component.Id)"
                    PlaceHolder="@(Component.Props["PlaceHolder"].StringValue)"
                    IsSelectAllTextOnFocus="@(Component.Props["IsSelectAllTextOnFocus"].BoolVal)"
                    DisplayText="@(Component.MutLanguage.GetLanguage())"
                    ShowLabel="@(Component.ShowLabel)"
                    IsDisabled="@Component.IsDisabled"
                    Color="@(Component.Color)"
                    OnEnterAsync="OnEnterAsync"
                    OnValueChanged="OnValueChanged"
    @bind-Value="@(Component.ValueInfo.StringValue)"></BootstrapInput>
}

@*</div>*@
@*</form>*@
@code {
    /// <summary>
    /// 回车后执行,执行这个控件带的参数
    /// </summary>
    /// <param name="value"></param>
    /// <returns></returns>
    public async Task OnEnterAsync(string value)
    {
        if (Component.IsExecuteForEnter)
        {
            ;
        }
        var ss = Component;
        await Task.Delay(100);
        ;

    }
    public async Task OnValueChanged(string value)
    {
        await Task.Delay(100);
        ;

    }
}
