@inherits WidgetComponentBase

@*<form>
    <div class="form-group">*@
        @if (Component != null)
        {
            <BootstrapInput Id="@Component.Id"
                            PlaceHolder="@(Component.Props["PlaceHolder"].StringValue)"
                            IsSelectAllTextOnFocus="@(Component.Props["IsSelectAllTextOnFocus"].BoolVal)"
                            DisplayText="@(Component.MutLanguage.GetLanguage())"
                            ShowLabel="@(Component.ShowLabel)"
                            Color="@(Component.Color)"
                            IsDisabled="@Component.IsDisabled"
            @bind-Value="@(Component.ValueInfo.StringValue)"></BootstrapInput>
        }
        else
        {
            <div>
                失败的控件,控件数据为空
            </div>
        }

@*    </div>
</form>*@
@code {

}
