@inherits WidgetComponentBase
@inject AntDesign.IMessageService _message
@*<form>
    <div class="form-group">*@
@if (Component != null)
{
    <AntDesign.Text>@Component.Name</AntDesign.Text>
    <AntDesign.Input Id="@Component.Id"
                     ReadOnly="@Component.Props["ReadOnly"].BoolVal"
                     Size="@Component.Props["Size"].StringValue"
                     OnPressEnter="OnPressEnter"
                     @bind-Value="@(Component.ValueInfo.StringValue)"></AntDesign.Input>
}
else
{
    <div>
        失败的控件,控件数据为空
        @*      PlaceHolder="@(Component.Props["PlaceHolder"].StringValue)"
    IsSelectAllTextOnFocus="@(Component.Props["IsSelectAllTextOnFocus"].BoolVal)"
    DisplayText="@(Component.MutLanguage.GetLanguage())"
    ShowLabel="@(Component.ShowLabel)"
    Color="@(Component.Color)"
    IsDisabled="@Component.IsDisabled" *@
    </div>
}

@*    </div>
</form>*@
@code {
    private  async void OnPressEnter(KeyboardEventArgs e)
    {
        ;
        var msg = string.Join("|", Component.Props["Params"].StringListValue);
        await _message.Info(msg);
        await InvokeAsync(() => { _message.Info(msg); });
        StateHasChanged();
    }
}
