@using Ufo.Auto.Client.Designer.Whiteboard.Components

@{
    string tabsContainerClass = ComponentData?.ComponentType == ComponentType.Tabs ? "container-element" : "";
}
<div class="component-elementruning">
    <div class="widget-wrapper">

        @{
            string h = "auto";
            h = ComponentData?.Height <= 0 ? "auto" : ComponentData?.Height + "px";
        }
        <div class="widget-content" style="height:@h">
            @switch (ComponentData?.ComponentType)
            {
                case ComponentType.SingleLine:
                    <SingleLineCompRuning Component="@ComponentData" />
                    break;

                case ComponentType.MultiLine:
                    <MultiLineComp Component="@ComponentData" />
                    break;

                case ComponentType.Email:
                    <EmailComp Component="@ComponentData" />
                    break;

                case ComponentType.Link:
                    <LinkComp Component="@ComponentData" />
                    break;

                case ComponentType.Checkbox:
                    <CheckboxComp Component="@ComponentData" />
                    break;

                case ComponentType.Number:
                    <NumberComp Component="@ComponentData" />
                    break;

                case ComponentType.File:
                    <FileComp Component="@ComponentData" />
                    break;

                case ComponentType.DateTime:
                    <DateTimeComp Component="@ComponentData" />
                    break;
                case ComponentType.Select:
                    <SelectComp Component="@ComponentData" />
                    break;
                case ComponentType.Table:
                    <DataGridViewComp Component="@ComponentData"  UserData="@ComponentData.ValueInfo.DataTable"/>
                    break;
                case ComponentType.Tabs:
                    <TabsCompRuning ComponentData="@ComponentData"
                                    ComponentRow="@ComponentRow"
                                    TabContainerList="@ComponentData.ChildContainers" />
                    break;

                default:
                    throw new NotImplementedException(@$"ComponentType: '{ComponentData?.ComponentType}' is not implemented");
            }
        </div>



    </div>
</div>

@code {
    [CascadingParameter(Name = "Root")]
    public FormRuning FormDesigner { get; set; }

    [Parameter]
    public ContainerDto Container { get; set; }

    [Parameter]
    public ComponentDto ComponentData { get; set; }

    [Parameter]
    public List<ComponentDto> ComponentRow { get; set; }

    [Parameter]
    public int ComponentIndex { get; set; }

    [Parameter]
    public string Class { get; set; }

    private async Task SelectComponentAsync()
    {
        await FormDesigner.SelectComponentAsync(ComponentData);
    }
}
