
@using System.Reflection
@using BootstrapBlazor.Components
@using Microsoft.AspNetCore.Components.Routing

<CascadingValue Value="CompanyGroup">
    <BootstrapBlazorRoot>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.Layout.MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(Shared.Layout.MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </BootstrapBlazorRoot>
</CascadingValue>
@code {
    [Parameter]
    public CompanyGroup CompanyGroup { get; set; } = new CompanyGroup() { Name = "加载中....." };
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //AdditionalAssemblies="new Assembly[]{typeof(Shared.Component1).Assembly}"
    }
}